@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans');

#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Kumbh Sans", sans-serif;
}

h2 {
  font-size: 2.5rem;
}