<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >
    <title>Warning!</title>
    <style>
        .main-container {
            display: flex;
            place-content: center;
            height: 100vh;
            width: 100vw;
        }

        code {
            background-color: #ccc;
        }
    </style>
</head>

<body>
    <div class="main-container">
        <h1>Append <code>/docs</code> to the URL to go to the documentation page.</h1>
    </div>
</body>

</html>